
<style>
  .nf-complete-the-look-vertical__header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .nf-complete-the-look-vertical__content {
    margin-bottom: 20px;
    display: flex;
    font-size: 13px;
    line-height: 19px;
    justify-content: space-between;
  }

  .nf-complete-the-look-vertical--content__media {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: calc(100% - 2 * 0px);
  }

  .nf-complete-the-look-vertical--content--media__content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }

  .nf-complete-the-look-vertical__content > div:first-child {
    margin-right: 10px;
    flex: 1;
  }

  .nf-complete-the-look-vertical__content > div:last-child{
    flex: 1;
  }

  .nf-complete-the-look-vertical__content .product-form__buttons {
    margin-top: 10px;
  }

  #nf-complete-the-look-vertical img {
    width: 100%;
    object-fit: cover;
    object-position: center center;

    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

  }
</style>


{% for look in products %}

{%- liquid
  assign ratio = 1
  if look.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif look.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = look.featured_image.aspect_ratio
  endif
  if ratio == 0 or ratio == nil
    assign ratio = 1
  endif
-%}

<div class="nf-complete-the-look-vertical__content">
  <div class="ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"> 
    <div class="nf-complete-the-look-vertical--content__media">
      <div class="nf-complete-the-look-vertical--content--media__content">
        <img
        srcset="{%- if look.featured_image.width >= 165 -%}{{ look.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if look.featured_image.width >= 360 -%}{{ look.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if look.featured_image.width >= 533 -%}{{ look.featured_image | image_url: width: 533 }} 533w,{%- endif -%}
        {%- if look.featured_image.width >= 720 -%}{{ look.featured_image | image_url: width: 720 }} 720w,{%- endif -%}
        {%- if look.featured_image.width >= 940 -%}{{ look.featured_image | image_url: width: 940 }} 940w,{%- endif -%}
        {%- if look.featured_image.width >= 1066 -%}{{ look.featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
        {{ look.featured_image | image_url }} {{ look.featured_image.width }}w"
        src="{{ look.featured_image | img_url: width: 533 }}"
        alt="{{look.featured_image.alt}}" loading="lazy"
        width="{{ look.featured_image.width }}"
        height="{{ look.featured_image.height }}" />
      </div>
    </div>
  </div>
  <div>
    <span>{{look.title}}</span>
        {% render 'price', product: card_product, price_class: '' %}

        {% unless look.has_only_default_variant %}
        {% capture sizes %}
        {%- for variant in look.variants -%}
        {{ look.title | handleize }} | {{variant.id}} | {{variant.title | downcase }} | {{variant.available}}
        {% if forloop.last == false %}::{% endif%}
        {%- endfor -%}
        {% endcapture %}
        {% endunless %}

        {% assign sizes_array = sizes | split: '::'  %}

    <div class="select">
      <select class="variant_sizes_select select__select" product-id="{{look.id}}">
        <option  selected disabled>Select</option>
        {% for size in sizes_array %}
          {% assign size_val = size | split: '|' %}
          {% assign product_title =  size_val[0] | join: ', '%} 
          {% assign variant_id =  size_val[1] | join: ', '%} 
          {% assign variant_title =  size_val[2] | join: ', '%} 
          {% assign variant_available =  size_val[3] | strip | join: ', '%} 
          
          {% if variant_available == 'true' %}
            <option value="{{ variant_id | strip }}">
              {{ variant_title | strip}} 
            </option>
          {% endif %}
        
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
    <div class="product-form__buttons">
      <product-form>
          {%- form 'product', look, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <input type="hidden" class="variant-id" name="id" value="{{ look.selected_or_first_available_variant.id }}" disabled>
            <button
              id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              class="quick-add__submit button button--full-width button--primary"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ look.id }}"
              aria-live="polite"
              data-sold-out-message="true"
              {% if look.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
              <span>
                {%- if look.selected_or_first_available_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
              <span class="sold-out-message hidden">
                {{ 'products.product.sold_out' | t }}
              </span>
              <div class="loading-overlay__spinner hidden">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          {%- endform -%}
        </product-form>
    </div>
  </div>
</div>
{% endfor %}

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        function selectVariantSize(){
            document.querySelectorAll('.nf-complete-the-look-vertical__content').forEach((element) => {
              element.querySelector('.variant_sizes_select').addEventListener('change', (event) => {
                const variantId = event.target.value;
                var $addToCartBtn = element.querySelector(".variant-id");
                $addToCartBtn.setAttribute('value', variantId);
              });
            });
        }
        selectVariantSize();
    });
</script>