<style>
    #stock-text-wrapper .limited-stock { color: #CA6D23; }
    #stock-text-wrapper .product-stock-label { font-size: 13px; }
    #stock-text-wrapper .product-stock-label span { display: none; padding-left: 20px; position: relative; }
    #stock-text-wrapper .product-stock-label[data-stock="in-stock"] .in-stock,
    #stock-text-wrapper .product-stock-label[data-stock="limited-stock"] .limited-stock { display: block; }
    #stock-text-wrapper .product-stock-label:not(.selected) {display: none; }
    #stock-text-wrapper .product-stock-label span::before {content: "";width: 10px;height: 10px;border-radius: 100%;background-color: #008060;position: absolute;left: 0px;top: 50%;transform: translateY(-50%);}
    #stock-text-wrapper .product-stock-label span.limited-stock::before {background-color: #CA6D23;}
</style>

<div id="stock-text-wrapper" data-variantid="">
    {% assign dataStock = 'in-stock' %}
    {% assign varaintId = '' %}
    {% assign varaintSelected = '' %}
    {% for variant in product.variants %}
        {% assign varaintId = variant.id %}
        {% comment %} Check selected variant {% endcomment %}
        {% if variant == product.selected_or_first_available_variant %}
        {% assign varaintSelected = 'selected' %}
        {% else %}
        {% assign varaintSelected = '' %}
        {% endif %}
        
        {% if variant.inventory_quantity == 0 or variant.inventory_quantity < 0 %}
        {% assign dataStock = 'no-stock' %}
        {% elsif variant.inventory_quantity <= 3 %}
        {% assign dataStock = 'limited-stock' %}
        {% elsif variant.inventory_quantity > 4 %}
        {% assign dataStock = 'in-stock' %}
        {% endif %}                  
        
        <div class="product-stock-label {{ varaintSelected }}" data-stock="{{ dataStock }}" data-stockcount="{{ variant.inventory_quantity }}" data-variantid="{{ varaintId }}">
        <span class="in-stock">{{ 'products.product.in_stock' | t }}</span>
        <span class="limited-stock">{{ 'products.product.limited_stock' | t }}</span>
        </div>
    {% endfor %}
</div> 